.filterbar-main{
    display:flex;
    flex-direction:row;
    background-color:#E5E5E5 ;
     height:3rem;
     align-items:center;
     justify-content:space-between;
     border-bottom:1px solid rgba(219,219,220,1)
}

.filterbar-lines{
    display:flex;
    flex-direction:row;
    margin-left:2rem
}

.active-cart{
    color: rgba(52, 73, 94, 1) ;
    margin-right:2rem
}

.favorite-cart{
    color:rgba(136, 148, 160, 1)
}


