.navbar{
    background-color: #34495E;
      display: flex;
      flex-direction: row;
       justify-content: center;
       height:2rem;
       align-items:center
}

.cart{
    color: #fff;
    font-weight: bold ;
     margin-right:1rem
}

.favorites{
    color: #fff 
}

.cart:active{
    border-bottom: 1px solid yellow;
}

.favorites:active{
    border-bottom: 1px solid yellow;
}